<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Terse</title>
</head>
<body>
    <section class="row">
        <header class="col s6 m8">
        Welcome to Terse!
        </header>
        <nav class="col s6 m4">
            {{#if loggedIn}}
            <a href="api/messages">Messages</a>
            <a href="api/logout">Logout</a>
            {{else}}
            <a href="api/login">Login</a>
            <a href="api/signUp">Sign Up</a>
            {{/if}}
        </nav>
    </section>
    <section class="container">
        {{!-- Picture of the website in use and/or description/hook --}}
    </section>
</body>
</html>