<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Terse</title>
</head>
<body>
    <header>
        <div class="row container">
                <h1 class="center">Terse</h1>
                <nav class="center nav-wrapper hoverable">
                <a class="btn " href="/">Home</a>
                {{#if loggedIn}}'
                <a class="btn" href="/inbox">Inbox</a>
                <a href="/user/{{userId}}">Profile</a>
                <button class="btn" id="logout">Logout</a>
                
                {{else}}
                <a class="btn" href="/login">Login/Register</a>
                {{/if}}
                </nav>
        </div>

    </header>

    {{{body}}}
    
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>