<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Terse</title>
</head>
<body>
    <header>
        <section class="row">
            <section class="col s6 m8">
                <h1>Terse</h1>
                <nav class="col s6 m4">
                <a href="/">Home</a>
                {{#if loggedIn}}
                <a href="/inbox">Inbox</a>
                <button id="logout">Logout</a>
                {{else}}
                <a href="/login">Login/Register</a>
                {{/if}}
                </nav>
            </section>
        </section>

    </header>

    {{{body}}}
    
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>