<main>
    
    <h2>{{simpleChat.title}}</h2>
    <div id="inviteSpace">
        <button id="inviteButton">Invite</button>
    </div>
    

    <div id="messageArea" class="container">
        {{#unless areThereMessages}}
        <h2>Empty..</h2>
        {{/unless}}
    </div>

    <input name="userText" id="messageInput" placeholder="Write">
    <button id="submit">Send</button>
</main>
<footer>

</footer>
{{#if loggedIn}}
<script>
    var sessionMessages = {{{json simpleMessages}}};
    var sessionChat = {{{json simpleChat}}};
    var sessionUserId = {{userId}};
</script>

<script src="/js/chat.js"></script>
<script src ="/js/messaging.js"></script>
{{/if}}