<main>
    
    <h2>{{simpleChat.title}}</h2>

    <div id="messageArea">
        {{#unless areThereMessages}}
        <h2>Empty..</h2>
        {{/unless}}
       
    </div>

    <input name="userText" placeholder="Write">
    <button id="submit">Send</button>
</main>
<footer>

</footer>
{{#if loggedIn}}
<script>
    var sessionMessages = {{{json simpleMessages}}};
    var sessionChat = {{{json simpleChat}}};
    var sessionUserId = {{userId}};
</script>

<script src="/js/chat.js"></script>
{{/if}}