<main>
    {{#if loggedIn}}
    <div id="searchBox">
        <input name="search" placeholder="search" id="search">
        <ul id="resultsList"></ul>
    </div>
    

    {{#if areThereChats}}
    {{#each chats as |chat|}}
    <a href="/chat/{{chat.id}}">
        <h3>{{chat.title}}</h3>
    </a>
    {{/each}}

    {{else}}
    <h2>Nothing... yet</h2>
    {{/if}}

    {{else}}
    <h1>Empty... Login?</h1>
    {{/if}}
</main>
<footer>

</footer>
{{#if loggedIn}}
<script src="/js/home.js"></script>
{{/if}}