<main class="container center">
    {{#if loggedIn}}
    <h2>Inbox</h2>
    {{#if areThereRequests}}
    {{#each requests as |request|}}
    <div>
        <h3>Chat with {{request.user.username}}?</h3>
        <button id="accept">Accept</button>
        <button id="decline">Decline</button>
    </div>
    {{/each}}
    {{else}}
    <h2>Empty...</h2>
    {{/if}}
    {{/if}}
</main>
<footer>

</footer>

{{#if loggedIn}}
<script src="/js/inbox.js"></script>
{{/if}}