<main>
    {{#if loggedIn}}
    {{#if areThereRequests}}
    {{#each requests as |request|}}
    <div>
        <h3>Chat with {{request.user.username}}?</h3>
        <button id="accept">Accept</button>
        <button id="decline">Decline</button>
    </div>
    {{/each}}
    {{/if}}
    {{/if}}
</main>
<footer>

</footer>

{{#if loggedIn}}
<script src="/js/inbox.js"></script>
{{/if}}