<main>
    <div>
        <form class="login-form">
            <input name="loginEmail" id= "loginEmail" placeholder="Email">
            <input name="loginPassword" id="loginPassword" placeholder="Password">
            <button id="loginSubmit">Log in</button>
        </form>
        <form class="signup-form">
            <input name="username" id="signupUsername" placeholder="New Username">
            <input name="signupEmail" id="signupEmail" placeholder="Your Email">
            <input name="signupPassword" id="signupPassword" placeholder="Your Password">
            <input type="submit" id="signupSubmit">Sign Up</input>
        </form>
    </div>
</main>
<footer>
    
</footer>