<main>
    <div>
        <header class="container center"> Log In!
        </header>
        <form class="login-form section container center">
            <input type="email" name="loginEmail" id= "loginEmail" placeholder="Email">
            <input type="password" name="loginPassword" id="loginPassword" placeholder="Password">
            <input class="center btn" type="submit" id="loginSubmit" value="Login"></button>
        </form>
        <header class="container center"> Sign up!
        </header>
        <form class="signup-form section container center">
            <input name="username" id="signupUsername" placeholder="New Username">
            <input type="email" name="signupEmail" id="signupEmail" placeholder="Your Email">
            <input type="password" name="signupPassword" id="signupPassword" placeholder="Your Password">
            <input class="btn" type="submit" id="signupSubmit" value="Signup"></input>
        </form>
    </div>
</main>
<footer>

</footer>
<script src="/js/login.js"></script>