<main>
    <div>
        <form>
            <input name="loginEmail" placeholder="Email">
            <input name="loginPassword" placeholder="Password">
            <button id="loginSubmit">Log in</button>
        </form>
        <form>
            <input name="username" placeholder="New Username">
            <input name="signupEmail" placeholder="Your Email">
            <input name="signupPassword" placeholder="Your Password">
            <button id="signupSubmit">Sign Up</button>
        </form>
    </div>
</main>
<footer>
    
</footer>