
<main>
    <h1 class="center">{{user.username}}</h1>

    {{#if loggedIn}}
    <div id="userArea" class="container"></div>
    {{/if}}
</main>

{{#if loggedIn}}
<script>
    var sessionUserId = {{userId}};
    var sessionUserData = {{{json user}}};
</script>
<script src="/js/userpage.js"></script>
{{/if}}